@model ProjectPortfolio.Models.ViewModels.FunderProjects

@{
    ViewBag.Title = "Fonde";
}

<h2>Fonde</h2>

<p>
    @Html.ActionLink("Registrer ny fond", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fond
        </th>
        <th>
           Beskrivelse
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Funders) {

    string selectedRow = "";
    if (item.FunderId == ViewBag.FunderId)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
        <td>
            @Html.ActionLink("Vælg", "Index", new { id = item.FunderId }) |
            @Html.ActionLink("Detaljer", "Details", new { id = item.FunderId }) |
            @Html.ActionLink("Rediger", "Edit", new { id=item.FunderId }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.FunderId })
        </td>
    </tr>
}

</table>
<p />
<hr />

@if ( Model.Projects != null && Model.Projects.Count() > 0)
{
    <h4>Projekter  - @Model.Funders.Where(f => f.FunderId == ViewBag.FunderId).Single().Name</h4>
     <table class="table table-condensed">
         <tr>
             <th>Projekt</th>
             <th>Startdato</th>
             <th>Kontaktperson</th>
             <th>Status</th>

             
         </tr>
         @foreach (var item in Model.Projects)
         {
             <tr>
                 <td>@Html.ActionLink(item.Name, "Details", "Project", new { id = item.Id }, null)</td>
                 <td>@item.StartDate.ToShortDateString()</td>
                 <td>@item.Person.Name</td>
                 <td>@item.Status.ToString()</td>
                 
             </tr>
         }

     </table>
}

