@model ProjectPortfolio.Models.Project

@{
    ViewBag.Title = "Detaljer";
}

<h2>Projektdetaljer</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelfFinancing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfFinancing)
        </dd>

        @if (Model.MultiplePartners == Multiple.Ja)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AggregatedBudget)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AggregatedBudget)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Funder.Name)
        </dt>
             
        <dd>
            @Html.DisplayFor(model => model.Funder.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.AggName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.AggName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Responsible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RespNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RespNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>
        
        
        @* Vedhæftning *@
        @if (Model.Files.Any(f => f.FileType == FileType.application))
        {
            <dt>
                Ansøgning
            </dt>
            <dd>
                @Html.ActionLink(@Model.Files.First(f => f.FileType == FileType.application).FileName, "Index", "File", new {id = @Model.Files.First(f => f.FileType == FileType.application).FileId }, null)
            </dd>
        }

        @* Vedhæftning slut *@



       @if ((int)Model.Status > 1)
        {
           
           <dt>
                @Html.DisplayNameFor(model => model.ProjectNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ExtProjectNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExtProjectNumber)
            </dd>

                @* Vedhæftning - svarbrev *@
                if (Model.Files.Any(f => f.FileType == FileType.response))
                {
                    <dt>
                        Svarbrev fra fond
                    </dt>
                        <dd>
                            @Html.ActionLink(@Model.Files.First(f => f.FileType == FileType.response).FileName, "Index", "File", new { id = @Model.Files.First(f => f.FileType == FileType.response).FileId }, null)
                        </dd>
                }

                @* Vedhæftning slut *@
       }
        
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectLink)
        </dd>
    
    </dl>
    
       
</div>


<p>
    @Html.ActionLink("Rediger", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Tilbage til oversigt", "Index")
</p>
