@model IEnumerable<ProjectPortfolio.Models.Project>

@{
    ViewBag.Title = "Oversigt";
}

<h2>Oversigt over projekter</h2>

<p>@Html.ActionLink("Opret nyt projekt", "Create") | <a align="right" href="@Url.Action("ExportToCsv", "File")">Hent projektliste som csv</a><p>

    
    @using (Html.BeginForm("Index", "Project", FormMethod.Get))
    {
        <p>
            Søg efter navn, indhold, kontaktperson eller indsatsområde: @Html.TextBox("searchString")
            <input type = "submit" value = "Søg"/>
        </p>
    }
    
<br />

   


<table class="table table-hover table-condensed table-responsive">
    <tr>
        <th>
            @Html.ActionLink("Navn", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Projektstart", "Index", new { sortOrder = ViewBag.DateStartSortParm})
        </th>
        <th>
            @Html.ActionLink("Projektslut", "Index", new { sortOrder = ViewBag.DateEndSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SelfFinancing)*@
            Egen- finansiering
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funder)
        </th>        
        <th>@Html.DisplayNameFor(model => model.PrimaryFocus)</th>
        <th>@Html.DisplayNameFor(model => model.SecondaryFocus)</th>
        @*<th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
        </th>*@
        <th style="width: 10%"></th>     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text" >
            <span>
                @* @Html.DisplayFor(modelItem => item.Name)*@
                @Html.ActionLink(item.Name, "Details", new { id = item.ProjectId })
            </span>
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.StartDate)*@
            @item.StartDate.ToShortDateString()
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.EndDate)*@
            @item.EndDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelfFinancing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funder.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryFocus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryFocus)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
        <td >
            
                @Html.ActionLink("Rediger", "Edit", new { id = item.ProjectId }) |
                @*@Html.ActionLink("Detaljer", "Details", new { id=item.ProjectId }) |*@
                @Html.ActionLink("Slet", "Delete", new { id = item.ProjectId })
           
        </td>
    </tr>
}

</table>
