@model IEnumerable<ProjectPortfolio.Models.Project>

@{
    ViewBag.Title = "Oversigt";
}

<h2>Oversigt over projekter</h2>

<p>@Html.ActionLink("Opret nyt projekt", "Create")<p>

@using (Html.BeginForm("Index", "Project", FormMethod.Get))
{
    <p>Sorter vha Rikkes sorteringsalgoritme: 
        <input type="submit" class ="btn btn-default" value="Sorter" name="test" />
    </p>
}




<table class="table table-hover table-condensed">
    <tr>
        <th>
            @Html.ActionLink("Navn", "Index", new { sortOrder = ViewBag.NameSortParm})
        </th>
        <th>
            @Html.ActionLink("Projektstart", "Index", new { sortOrder = ViewBag.DateStartSortParm})
        </th>
        <th>
            @Html.ActionLink("Projektslut", "Index", new { sortOrder = ViewBag.DateEndSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="word-wrap: break-word; max-width: 260px;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.StartDate)*@
            @item.StartDate.ToShortDateString()
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.EndDate)*@
            @item.EndDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funder.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.ProjectId }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
